@model List<AukcniSystem.Models.Kategorie>

@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Aukční systém</h1>
</section>
<section class="tw-grid tw-grid-cols-4 tw-gap-4">
    <aside class="tw-flex tw-flex-col tw-gap-4">
        @foreach (var kategorie in Model)
        {
            <div class="tw-text-xl tw-no-underline tw-text-gray-700 tw-font-medium tw-flex tw-items-center">
                <div>@kategorie.Nazev</div>
                <a href="/Home/Kategorie/@kategorie.KategorieId" class="btn btn-primary tw-ml-auto">Přejít</a>
            </div>
        }
    </aside>
</section>
